/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: sans-serif;
  font-weight: 400, 700;
  font-size: 24px, 16px, 14px;
  background: #ccc;
}

.header {
  background: #f00;
  border-bottom: 1px solid #aaa;
  color: #fff;
}

.header a {
  padding: 10px;
  display: block;
}

.header-nav {
  width: 900px;
  /* background: green; */
  margin: auto;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}