<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
</head>
<body>
    <h1>Welcome Mr./Ms. <%= @user.username %></h1>
    <br>
    <p>Login site: <%= @url %></p>
    <br>
    <p>Have fun!</p>
</body>
</html>